{% extends 'ankieta/base.html' %}

{% block content %}
    {% if last_questions %}
        {% for pytanie in last_questions  %}
            <li class="list-group-item">
                <a href="{% url 'details' pytanie.id%}">
                    {{pytanie.text_pytania}} 
                </a>
            </li>
        {% endfor %}
    {% else %}
        <p>Nie ma jeszcze pytań<p/>
    {% endif %}
{% endblock content %}